<div id="allContent" class="col-lg-12">


    <div id="info2" class="row col-lg-8 col-md-6" >
        <div class="col-md-12 col-lg-12" style="    margin-bottom: 12%;">

            <div class="ctrl" style="float: right; ">
                <div class="cardWrap">
                    <div class="cardFlip front frontanimation"><h3 style="    color: white;     padding: 8px;
                                                                   border-bottom: 2px solid black">Terry - Dev'</h3>

                        <div id="memberPic">
                            <img height="210" src="{{asset('assets/images/Terry.jpg') }}">
                        </div>

                    </div>
                    <div class="cardFlip back backanimation"><h3 style="    color: white;     padding: 8px;
                                                                 border-bottom: 2px solid black;"> Compétences :  </h3> <br> <img style="width: 20%;" src="{{asset('assets/images/nodejs.png') }}"> <img style="width: 18%;" src="{{asset('assets/images/android.png') }}"> <img style="width: 20%;" src="{{asset('assets/images/css3.png') }}">  <img style="width: 18%;" src="{{asset('assets/images/html.png') }}"><img style="width: 30%;" src="{{asset('assets/images/phpsql.png') }}"></div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-lg-12" style="    margin-bottom: 12%;">

            <div id="textExplicatif" style='float: right;    width: 100%;
                 margin: auto;'>
            </div>
        </div>
    </div>
</div>
